<!DOCTYPE html>
<html lang="en">
    <head>
        <%= render 'layouts/head' %>
    </head>
    <body id="<%= params[:controller] %>" data-action="<%= params[:action] %>">
        <div class="container">
            <header>
                <%= render 'layouts/header' %>
            </header>
            <main>
                <%= yield %>
            </main>
            <footer>
                <%= render 'layouts/footer' %>
            </footer>
        </div>
    </body>
</html>
